.vfx-gradient-anim {
	background: linear-gradient(90deg, #181d28, #1a2849, #1f3e86, #073141);
	background-size: 400% 400%;
	animation: gradient 0.5s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.vfx-fadeout-2s {
	animation: fadeout 1s ease-out;
}

@keyframes fadeout {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	50% {
		opacity: 0.9;
		transform: translateY(-16px);
	}
	100% {
		opacity: 0;
		transform: translateY(-16px);
	}
}

.linear-wipe {
	text-align: center;
	
	background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
	background-size: 200% auto;
	
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	animation: shine 1s linear infinite;
	@keyframes shine {
	  to {
		background-position: 200% center;
	  }
	}
  }